.product-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 92%;
  padding: 10px;
  min-height: 600px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .product-area {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
