.product-card-main {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.product-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.product-card-content img {
  width: 100%;
  height: 73.6%;
  object-fit: cover;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.product-card-text {
  display: flex;
  width: 100%;
  height: 25%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.product-card-text-row {
  display: flex;
  width: 90%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}
.product-card-title {
  font-size: 12px;
  text-align: start;
  color: #2e3a4d;
}

.increment-decrement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 50px;
}
.increment-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;
  font-size: 18px;
  border: 2px solid #2e3a4d;
  border-radius: 10px;
  color: #2e3a4d;
  cursor: pointer;
}
.decrement-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;
  font-size: 18px;
  border: 2px solid #2e3a4d;
  border-radius: 10px;
  color: #2e3a4d;
  cursor: pointer;
}
.product-card-price {
  font-size: 16px;
  font-weight: 500;
  color: #2e3a4d;
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #2e3a4d;
  font-size: 28px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  border: 2px solid #2e3a4d;
  border-radius: 10px;
}
.add-to-cart-btn:hover {
  color: #4a5e7f;
  border: 2px solid #4a5e7f;
}
.like-button {
  position: absolute;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #c9c9c9;
  font-size: 28px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .product-card-main {
    height: auto;
    padding: 10px;
  }
  .product-card-content img {
    height: auto;
    max-height: 200px;
  }
  .product-card-text {
    height: auto;
    padding: 10px 0;
  }
  .product-card-text-row {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .increment-decrement {
    justify-content: space-between;
    display: flex;
    width: 50px;
    margin-top: 10px;
  }

  .like-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .increment-btn,
  .decrement-btn {
    border: 1px solid #2e3a4d;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    font-size: 10px;
    margin: 0;
  }

  .product-card-price {
    font-size: 14px;
  }
  .product-card-title {
    font-size: 10px;
  }
  .add-to-cart-btn {
    position: absolute;
    border: 1px solid #2e3a4d;
    bottom: 5px;
    right: 0px;
    width: 40px;
    font-size: 20px;
    height: 40px;
  }
}
