@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.product-container {
  position: relative;
  width: auto;
  height: auto;
  min-width: 440px;
  min-height: 464px;
}

.product-container .thumb {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 1;
}

.product-container .thumb li {
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.product-container .thumb li img {
  width: 80%;
  transition: 0.5s;
}

.product-container .thumb li:hover img {
  transform: rotate(-35deg);
}

.product-container .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 464px;
  height: 80%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  padding: 60px 20px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.product-container .imgBox h2 {
  color: #fff;
  letter-spacing: 1px;
}

.product-container .imgBox img {
  width: 80%;
  transition: 0.25s;
}

.product-container .imgBox .sizes {
  display: flex;
  margin-right: 50%;
  justify-content: center;
  align-items: center;
}

.product-container .imgBox .sizes span {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 5px;
}

.product-container .imgBox img:hover {
  transform: scale(1.2) rotate(-15deg) translateX(20px);
}

.product-container .imgBox .sizes li {
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  color: #1e6b7b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-weight: 700;

  cursor: pointer;
  transition: 0.25s;
}

.product-container .imgBox .sizes li:hover {
  transform: translateY(-10px);
}

.product-container .imgBox .btn {
  position: absolute;
  bottom: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e6b7b;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 21px;
  backdrop-filter: blur(4px);
  cursor: pointer;
  margin-left: 73%;
  font-size: 24px;
}
.product-container .imgBox .btn-incele {
  position: absolute;
  bottom: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e6b7b;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 21px;
  backdrop-filter: blur(4px);
  cursor: pointer;
  margin-left: 43%;
  font-size: 24px;
}

.shoe-price {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 50%;
  right: 5%;
  top: 80%;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 5px;
}
.shoe-price span {
  color: #fff;
  font-size: 14px;
  margin-right: 5%;
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .product-container {
    position: relative;
    width: auto;
    height: auto;
    min-width: 50%;
    min-height: 264px;
    height: 264px;
  }
  .shoe-price {
    left: 0%;
    width: 70%;
    top: 90%;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: start;
  }
  .shoe-price span {
    color: #fff;
    font-size: 10px;
    margin-right: 5%;
    margin-left: 5px;
  }
  .product-container .imgBox .sizes li {
    list-style: none;
    margin: 0;
    width: 25px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    color: #1e6b7b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    transition: 0.25s;
  }
  .product-container .imgBox .sizes {
    display: flex;
    margin-right: 5%;
    width: 170px;
    margin-bottom: 10px;
    justify-content: start;
    align-items: center;
  }

  .product-container .imgBox .sizes span {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 5px;
  }
  .imgBox {
    min-height: 264px !important;
    padding: 30px 10px !important;
    padding-left: 25px !important;
  }
  .product-container .thumb {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .product-container .thumb li {
    width: 30px;
    height: 30px;
  }

  .imgBox h2 {
    font-size: 12px;
  }
  .product-container .imgBox .btn {
    position: absolute;
    bottom: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e6b7b;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    cursor: pointer;
    margin-left: 60%;
    font-size: 14px;
  }
  .product-container .imgBox .btn-incele {
    position: absolute;
    bottom: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e6b7b;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    cursor: pointer;
    margin-left: 25%;
    font-size: 14px;
  }
}
