@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300");
#root {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  overflow: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
