.home-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.home-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slider-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.product-area {
  display: grid;
  object-fit: contain;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 90%;
  height: 50%;
  padding: 10px;
}
