.home-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.slider-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  background-color: red;
}
.product-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  height: 60%;
}
